@{
    ViewBag.Title = "EILCO Hotels";
}
<link href="~/Content/css2/style.css" rel="stylesheet" />
<link href="~/Content/css2/slick.css" rel="stylesheet" />
<link href="~/Content/css2/responsive.css" rel="stylesheet" />
<link href="~/Content/css2/owl.carousel.min.css" rel="stylesheet" />
<link href="~/Content/css2/normalize.css" rel="stylesheet" />
<link href="~/Content/css2/nice-select.css" rel="stylesheet" />
<link href="~/Content/css2/meanmenu.css" rel="stylesheet" />
<link href="~/Content/css2/jquery.mCustomScrollbar.min.css" rel="stylesheet" />
<link href="~/Content/css2/jquery-ui.css" rel="stylesheet" />
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/css2/animate.min.css" rel="stylesheet" />

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="text-bg">
                <div class="padding_lert">
                    <h1>Bienvenue au Eilco Plaza Hotel </h1>
                    <p>Un hôtel comme les Français aime !</p>
                    <a href="#">Lire Plus</a>
                </div>
            </div>
        </div>
    </div>
</div>

<img src="~/Images/MainPage.jpg" class="img-responsive" style="width:100%" />

<div id="about" class="about" style="margin-top:-5px">
    <div class="container-fluid">
        <div class="row d_flex">
            <div class="col-md-6">
                <div class="about_text">
                    <div class="titlepage">
                        <h2>A propos de notre hôtel</h2>
                        <p>
                            Retrouvez le confort du Brit Hotel de Calais pour votre séjour dans le nord ! Idéalement situé en plein cœur du centre-ville de Calais, notre hôtel vous accueille 24h/24. Organisez donc votre séjour comme bon vous semble, sans avoir à vous préoccuper de votre heure d’arrivée !
                            Pour votre confort et votre sécurité, notre hôtel dispose d’un veilleur de nuit ainsi que d’un ascenseur.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="about_img">
                    <figure><img src="~/Images/about_img.jpg" />></figure>
                </div>
            </div>
        </div>
    </div>
</div>
<a href="/Chambre/Index">
    <button type="button" class="btn btn-primary btn-lg btn-block">Découvrir Nos Offres</button>
</a>
<div class="testimonial">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="titlepage">
                    <h2>Vos Avis</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div id="myCarousel" class="carousel slide testimonial_Carousel " data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="container">
                                <div class="carousel-caption ">
                                    <div class="row">
                                        <div class="col-md-6 margin_boot">
                                            <div class="test_box">
                                                <h4>Cédric B</h4>
                                                <i><img src="~/Images/te1.png" alt="#" /></i>
                                                <p>
                                                    Bon rapport qualité prix. Bonne prestation (petit déjeuner) et accueil. Literie correcte. Salle de bain et wc dans la chambre. Hôtel calme et parking clôturé. Personnel à l'écoute présent 24h/24h. Réservation effectuée sur internet.
                                                </p>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="test_box">
                                                <h4>Estelle C</h4>
                                                <i><img src="~/Images/te1.png" alt="#" /></i>
                                                <p>Réservation simple en ligne, hôtel bien placé dans une zone commerciale et proche des grands axes, j'ai pu payer sur place le jour où j'ai récupéré la carte d´accès à la chambre, tout était très propre et la literie confortable</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div> 
                    </div>              
                </div>
            </div>
        </div>
    </div>
</div>

