body {
  
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
}

.panel-title {
    display: inline;
    font-weight: bold;
}

.checkbox.pull-right {
    margin: 0;
}

.pl-ziro {
    padding-left: 0px;
}
